*{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
}
.answer{
    line-height: 851px;
    height: 851px;
    width: 393px;
    border: 2px solid black;
    text-align: center;
    background-color: crimson;

    animation-name: answer;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.answer p{
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;

    animation-name: answerp;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes answer{
    0%{
        background-color: black;
    }
    50%{
        background-color: gold;
    }
    100%{
        background-color: black;
    }
}
@keyframes answerp{
    0%{
        color: gold;
    }
    50%{
        color: black;
    }
    100%{
        color: gold;
    }
}
.container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-bottom: 60px;
}
.container .content{
    text-align: center;
}
.container .content h3{
    font-size: 30px;
    color: #333;
}
.container .content h3 span{
    background: crimson;
    color: #fff;
    border-radius: 5px;
    padding: 0 15px;
}
.container .content h1{
    font-size: 50px;
    color: #333;
}
.container .content p{
    font-size: 25px;
    margin-bottom: 20px;
    color: #333;
}
.container .content h2{
    display: inline-block;
    padding: 10px  30px;
    font-size: 20px;
    color: crimson;
}